<div class="gallery-main">
  <div class="gallery-title"><%= category %></div>
  <div class="gallery-wrapper">
    <% file_arr, painting_arr = retrieve_file_array(category) %>
    <% painting_arr.each_with_index do |painting, arr_index| %>
      <% file_path = file_arr[arr_index] %>
      <% title = painting.name %>
      <div class="painting-button">
        <div class="status sold <%= painting.is_sold %>"></div>
        <a class="painting-anchor" href='<%= strip_root_from_filename(painting_path(painting.id)) %>'>
          <img src='<%= file_path %>' alt='<%= title %>' />
        </a>
        <div class="title"><%= title %></div>
        <div class="painting-size"><%= painting.width %> <%= painting.width.present? ? 'x' : '' %> <%= painting.height %></div>
      </div>
    <% end %>
  </div>
</div>